@import './variables.scss';
@import './helpers.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.cursor-pointer {
    cursor: pointer;
}

body {
    background: whitesmoke;
}

.page-enter-active {
    transition: opacity 0.25s ease-out;
}

.page-leave-active {
    transition: opacity 0.25s ease-in;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}
